@import "tailwindcss";

@font-face {
  font-family: "HsSantoki20";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@theme {
  --color-slate-900: #0f172a;
  --color-slate-800: #1e293b;
  --color-slate-500: #64748b;
  --color-slate-400: #94a3b8;
  --color-slate-300: #cbd5e1;
  --color-slate-200: #e2e8f0;
  --color-slate-100: #f1f5f9;

  --color-violet-600: #7c3aed;
  --color-violet-100: #ede9fe;

  --color-rose-500: #f43f5e;
  --color-lime-300: #bef264;
  --color-amber-800: #92400e;

  --font-nanum-square: "NanumSquare", sans-serif;
  --font-santokki: "HsSantoki20", sans-serif;

  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-base: 16px;

  --font-weight-bold: 700;
  --font-weight-regular: 400;
}

body {
  font-family: var(--font-nanum-square);
}

.font-santokki {
  font-family: var(--font-santokki);
}

.font-regular {
  font-weight: var(--font-weight-regular);
}

.font-bold {
  font-weight: var(--font-weight-bold);
}

/* 메모 스크롤바 커스텀 */
.memo-scroll::-webkit-scrollbar {
  width: 4px;
}

.memo-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.memo-scroll::-webkit-scrollbar-thumb {
  background-color: #fde68a; /* amber-200 */
  border-radius: 9999px;
}

/* Firefox */
.memo-scroll {
  scrollbar-width: thin;
  scrollbar-color: #fde68a transparent;
}
